<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Site settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Volume Controller</title>

    <!-- Tell Django to load up all the static assets -->
    {% load static %}

    <!-- Create link to application icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- External Style Dependencies -->
    <link rel="stylesheet" href="{% static 'vendors/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bower_components/angular-hotkeys/build/hotkeys.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendors/bower_components/components-font-awesome/css/font-awesome.min.css' %}">

    <!-- Local Style Files -->
    <link rel="stylesheet" href="{% static 'css/controllerapp.css' %}">

    <!-- External JS Dependencies -->
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendors/bower_components/angular-hotkeys/build/hotkeys.min.js' %}"></script>

    <!-- Local JS Files -->
    <script src="{% static 'js/controllerapp.js' %}"></script>

</head>

<body ng-app="controllerApp" ng-controller="remoteControlController">

<div class="col-md-3 col-xs-10 col-md-offset-1 col-xs-offset-1">
    <div class="row">
        <h2>Controls</h2>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="volumeUp()">
                    <span class="glyphicon glyphicon-volume-up"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="volumeDown()">
                    <span class="glyphicon glyphicon-volume-down"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="volumeMute()">
                    <span class="glyphicon glyphicon-volume-off"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="playPause()">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="nextSong()">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Documentation</h2>
        <div class="list-group">
            <a href="{% url 'swagger' %}" class="list-group-item">API Documentation</a>
            <a href="#" class="list-group-item">Controls Library Documentation</a>
            <a href="https://github.com/Myoldmopar/my-remote-control" class="list-group-item">Source Code</a>
        </div>
    </div>
    <div class="row">
        <input class="notify-bar form-control bottomstatusbar" type="text" ng-model="notification_text" value=""
               readonly="readonly"/>
    </div>
</div>

</body>

</html>
