#wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    width: 100%;
    font-weight: bold;
}

input {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.padded {
    padding-bottom: 10px;
}

.notify-bar {
    position: fixed;
    bottom: 5px;
    left: 2%;
    width: 96%;
    z-index: 1000;
}