#wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    width: 100%;
    font-weight: bold;
}

input {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.padded {
    padding-bottom: 10px;
}